<div class="container-page-modals banner-with-background">
    <div class="sign-modals">
      <h2 class="m-0">Cadastra-se</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :user_name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "user-name"} %>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>

      <div class="form-actions sign">
        <%= f.button :submit, "SIGN UP" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
    </div>
</div>

