<% if current_user.has_salon? && @agendamentos.length > 0 %>
  <div class="container ">
    <div class="card-agendamento">
      <% @agendamentos.each do |agendamento| %>
        <h6>You have Appointments with : <%= agendamento.user.user_name %></h6>
        <h6>Service: <%= agendamento.category_servico.name%> </h6>
        <h6><%= agendamento.category_servico.description %></h6>
        <h6><%= agendamento.category_servico.price %></h6>
      <% end %>
    </div>
  </div>
<% elsif @current_user.has_salon? && @agendamentos.length === 0 %>
  <%= render 'shared/nodata' %>
<% elsif @agendamentos.length > 0 && !current_user.has_salon? %>
  <div class="container">
    <h5>Você possui (<%= @agendamentos.length %>) agendamento(s)</h5>
    <% @agendamentos.each do |agendamento|%>
      <div class="card-agendamento">
        <h6>Appointments of : <%= agendamento.category_servico.name %></h6>
        <h6>with a stylist of <%= agendamento.category_servico.salon.name %></h6>
        <h6>Price: $ <%= agendamento.category_servico.price %> </h6>
        <h6><%= agendamento.scheduled_time %></h6>
      </div>
    <% end %>
  </div>
<% else %>
  <%= render 'shared/nodata' %>
<% end %>
