<div class="banner-home-page">
  <div class="container">
    <div class="agendamento-card mt-8 salon">
      <div>
        <div><%=  @categoryservico.salon.name%> </div>
        <div>Servico:</div>
        <div><%= @categoryservico.name %></div>
        <div><%= @categoryservico.description %></div>
      </div>
      <div>
        <div>A partir de:</div>
        <div><%= @categoryservico.price%></div>
      </div>
    </div>

    <%= simple_form_for [ @categoryservico, @agendamento ] do |f| %>
      <%= f.hidden_field :categoryservico_id, value: @categoryservico.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.input :scheduled_time %>
      <%= f.submit "Agendar seu serviço", class: "btn btn-primary"%>
    <% end %>
  </div>
</div>