<div class = "banner-home-page">
  <div class="container">
      <h5>Você possui (<%= @salons.length %>) salon(s) cadastrado(s)</h5>
      <% @salons.each do |salon|%>
        <div class="card-agendamento d-flex justify-content-between">
          <div>
            <div><%= salon.name %></div>
            <div><%= salon.description %></div>
          </div>
          <div class="d-flex">
            <%= link_to "Edit Salon", edit_salon_path(id: salon.id), class: "nav-link" %>
          </div>
        </div>
      <% end %>
    <div>
      <%= link_to "Cadastrar novos negocios", new_user_salon_path, class: "nav-link" %>
    </div>
  </div>
</div>