<div class="banner-home-page">
  <div class="container">
    <div class="salon">
      <div class="col-lg-8 col-sm-12">
        <h1><%=  @salon.name %></h1>
        <h5>5.0 <span>⭐</span> (8 avaliação)</h5>
        <h5>Todos os serviços</h5>
        <% @servicos.uniq.each do |servico|  %>
        
          <div class="dropdown mb-2">
            <button class="btn btn-secondary dropdown-toggle col-12" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
              <%= servico.name %>
            </button>
            <ul class="dropdown-menu col-12" aria-labelledby="dropdownMenu2">
              <% Categoryservico.where(salon_id: @salon.id, servico_id: servico.id).each do |category|%>
                <li>
                  <div class="salon">
                    <div class="col-8">
                      <p> <%= category.name %></p>
                      <p><%= category.description %></p>
                      <p><%= category.price %> </p> 
                    </div>
                    <div class="col-4 ">
                      <div>
                        <%= link_to "Agendar Servico", new_categoryservico_agendamento_path(category.id) %>
                      </div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>

        <% end %>

        <h5>Avaliação dos nossos clientes</h5>
        <div>5.0 ⭐⭐⭐⭐⭐</div>
        <div>serviço nota 10</div>
        <div><%= current_user.user_name %> em 26/06/04</div>
        <div>
          <h1><%= @salon.name %></h1>
          <div>A Hands Care é uma empresa familiar fundada em 1996, pioneira na prestação de serviços especializados em manicure e pedicure.

Com vasta gama de opções voltadas ao embelezamento, cuidado e proteção das mãos, pés e cutículas, oferecemos às nossas clientes, no momento da realização dos serviços, todo o instrumental esterilizado em autoclave, acondicionados em embalagens descartáveis - garantindo assim 100% de higiene e segurança.

Outra grande preocupação da nossa empresa é também a satisfação das clientes com os serviços oferecidos. Por isso, nossas funcionárias seguem um programa de qualidade, com treinamento orientado por dermatologistas e profissionais especializados, fator que as destaca das demais dentro da sua área de atuação.</div>
        <div><h5>Formas de pagamento: </h5> Visa, Mastercard, American Express, Hipercard, Elo Crédito, Maestro/Redeshop, Visa Electron, Elo Débito, Doc/Ted, Transferência entre Conta Corrente, Dinheiro, À Vista, Depósito, PIX, Parcelamento próprio, Vale-Presente
Idiomas: Português, Espanhol
Facilidades: Wi-Fi, Estacionamento - Pago, Atendemos adultos e crianças, Acesso para Deficientes, TV, Aceita cartão de crédito</div>
        <div><h5>Instruções especiais</h5>Trabalhamos com horarios agendados e encaixes.
Informamos que a tolerância máxima para atrasos de clientes é de 5(cinco) minutos</div>

        </div>
      </div>
      <div class="col-lg-4 pt-12">
        <div style="width: 100%; height: 300px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
        <p>Avenida Rebouças, 3970, LJ 1013, Pinheiros, São Paulo, SP - 05402-600</p>
        <p>Redes sociais</p>
    </div>
  </div>
</div>

