<!DOCTYPE html>
<html>
  <head>
    <title>FormidableNew</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %> 
  </head>

  <body>

    <div class="flex-wraper w-100 container-challenge-background">
      <% if current_user %>
        <%= render 'shared/navbar' %>
      <% end %>
      <%= render 'shared/flashes' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
